html{
background-color: #660300;
background-image: url("https://www.transparenttextures.com/patterns/black-scales.png");
}

h1{
	font-family: 'Ma Shan Zheng', cursive;
	color:#FFFA85;
	font-size:100px;
	left: 0;
    line-height: 200px;
    margin-top: -210px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;

}

#svg2{
    position: absolute;
    z-index: -1;
    width: 800px;
    height: auto;
    left:0px;
    margin-top:-1100px;
    overflow: hidden;

}

.button{
  border: 4px solid #DDFFFD;
  background:  transparent;
  color:white;
  box-sizing: border-box;
  border-radius: 100px;
  cursor: pointer;
  left: 560px;
    line-height: 50px;
    margin-top: 50px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 300px;

}

.button:hover {
box-shadow: 0px 0px 20px 0px #3959FF;
transition:ease-in-out .5s;
}

.data{
    color:#FFAC60;
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
}

#name{
   width:100px;
  padding:10px;
}

#meeting-time{
     width:230px;
  padding:10px;
}

.data2{
    color:#FFAC60;
    font-size: 30px;
    text-align: center;
    margin-top: -30px;
}

#translation{
   color:#FFFA85;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 30px;
    margin-top: 600px;
    border: 4px solid white;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

#en {
  display: none;
  font-family: 'Noto Sans SC', sans-serif;
  font-size:25px;
}

.button_lang {
  cursor: pointer;
  background-color: #444;
  color: #FFF;
  padding: 8px 20px;
  border-radius: 5px;
  
  -webkit-transition: background-color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  -ms-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}
.button_lang:hover, .current_lang {
  background-color: #777; 
  -webkit-transition: background-color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  -ms-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

ul li {
  width: auto;
  display: inline;
}

label{
  font-family: 'Long Cang', cursive;
}

button{
  border: 4px solid #DDFFFD;
  background:  transparent;
  color:white;
  box-sizing: border-box;
  border-radius: 100px;
  cursor: pointer;
  left: 560px;
    line-height: 50px;
    margin-top: 50px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 300px;

}


#quoteDisplay{
  color:#FFFA85;
   font-family: 'Noto Sans SC', sans-serif;
    font-size: 30px;
    margin-top: 150px;
    line-height: 40px;
    border: 4px solid white;
    border-radius: 10px;
    padding-right: 50px;
    padding-left: 50px;
}


#placement{
  position: absolute;
   color:#FFFA85;
  font-family: 'Noto Sans SC', sans-serif;
 
}
/*input{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;

}*/

/*.extra{
   position:absolute;
   color:#FFFA85;
    border: 4px solid #DDFFFD;
    padding-left: 30px;
    padding-right:30px ;
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 30px;
    top:700px;

}*/

/*p{
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 30px;
}*/